.imagen-clase {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
  }

  .toolbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
    .logo {
      width: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .toolbar-custom {
      ion-title {
        display: none; 
      }
      
      .logo {
        margin-right: auto;
        padding-right: 8%;
      }
  
      ion-buttons {
        margin-left: auto;
      }
    }
  }