.imagen-clase {
    width: 100%;
    height: 200px; /* Ajusta este valor según el tamaño que prefieras */
    object-fit: cover; /* Asegura que la imagen se recorte proporcionalmente sin distorsionar */
  }

.logo{

  width: 10%;
  height: 30%;

}